<!-- heros.component.htmlの下部から取得 -->
<!-- 全てのヒーローが対象なので、selected ➜ heroに置換 -->

<!-- <div *ngIf="selectedHero"> -->
<div *ngIf="hero">
  <!-- <h2>{{selectedHero.name | uppercase}} Details</h2> -->
  <h2>{{hero.name | uppercase}} Details</h2>
  <!-- <div>id: {{selectedHero.id}}</div> -->
  <div><span>id:</span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <!-- <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name"> -->
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
</div>